<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxx.games">


    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--必要权限，解决安全风险漏洞，发送和注册广播事件需要调用带有传递权限的接口-->
    <permission
        android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!-- 如果视频广告使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--demo场景用到的权限，不是必须的-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- 穿山甲3400版本新增：建议添加“query_all_package”权限，穿山甲将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！ -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- 用户手机设置中允许未知来源安装包安装状态为关；-->
    <!-- Android8.0 以后，如果要安装 apk 需要额外添加权限：-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".randomHero.RandomHeroActivity" />
        <activity android:name=".randomTeam.RandomActivity" />
        <activity android:name=".mahjong.MahjongActivity" />
        <activity
            android:name=".splash.SvgActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".truthOrDare.TruthOrDareActivity" />
        <activity android:name=".addPlayer.AddPlayerActivity" />
        <activity android:name=".truthOrDare.AddQuasActivity" />
        <activity android:name=".truthOrDare.AddDosActivity" />
        <activity android:name=".angryUncle.AngryUncleActivity" />
        <activity android:name=".poker.WhoIsActivity" />
        <activity android:name=".parks.ParksActivity" />
        <activity android:name=".call.CallSettingActivity" />
        <activity
            android:name=".call.CallActivity"
            android:screenOrientation="landscape" />


        <!-- Pangle start================== -->

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!-- Pangle end================== -->

        <!--蒲公英 start================== -->
        <meta-data
            android:name="PGYER_API_KEY"
            android:value="822d66c260e0a83e51237290f7db3acb" />
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="dab26bdc8b6ba8c04bde53ff5d9fb83a" />

        <!--添加新版本检测-->
        <meta-data
            android:name="PGYER_FEATURE_CHECK_UNPDATE"
            android:value="true" />

        <!--蒲公英 end================== -->
    </application>


</manifest>