<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxx.games">

    <application
        android:name=".app.MApplication"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".randomHero.RandomHeroActivity"/>
        <activity android:name=".randomTeam.RandomActivity" />
        <activity android:name=".mahjong.MahjongActivity" />
        <activity android:name=".splash.SvgActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".truthOrDare.TruthOrDareActivity" />
        <activity android:name=".addPlayer.AddPlayerActivity" />
        <activity android:name=".truthOrDare.AddQuasActivity" />
        <activity android:name=".truthOrDare.AddDosActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".angryUncle.AngryUncleActivity" />
        <activity android:name=".poker.WhoIsActivity" />
        <activity android:name=".parks.ParksActivity" />
    </application>

</manifest>